.homepost{
            display: block;
            margin: 10px 5px; 
            border: solid black;
            position: relative;
        }
   textarea {
	
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	border-width: none;
	 overflow: none;
	 resize:none;

}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.poststatus{
	position: relative;
}
.styled-button-3 {
	-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	background-color:#5B74A8;
	border:1px solid #29447E;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:12px;
	font-weight:700;
	padding:2px 6px;
	width: 78px;
	height:28px;
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}
.positionrightlower{
	  position:absolute;
    bottom:5px;
    right:5px;
}
.poststatus{
	height: 175px;
}
.homepage{
	background-color: #4167c6 !important;
}
.well{

	width: 788px;
	margin: 10px auto;
	
}
.well textarea, textarea.form-control
{
   resize: none;
}.well i {
    font-size:20px;
    color:#c0c0c0;
}textarea.form-control
{
   resize: none;
   border:0;
   box-shadow:0 0 0;
} textarea.form-control
{
   resize: none;
   border:0;
   box-shadow:0 0 0;
}.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-color:#3B5999;
    color:#fffffe;
}
.type_name_user_post{
  color: #3B6CBC;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  margin-right: 7px;
}
.type_user_name_comment{
    display: block;
	  color: #3B6CBC;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin-right: 7px;
}
 #post_form{
        position: relative;
          margin: 15px 0px;
        width:788px;
    
        padding: 0;
        
    }
    #post_left{
        background-color: cyan;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 50px;
        height: 50px;
    }
    #post_right{
        background-color: yellow;
        width: 738px;
        margin-left: 50px;
        top: 0px;
        left: 50px;
        height: auto;
    }
    #post_header{
          margin-bottom: 8px;
          background: #f9f9f9;
          padding: 3px 0;
            line-height: 22px;
          margin-right: 3px;
         width: 738px;
          float: left;
          font-size: 14px;
    }
    .post_content{
     word-wrap:break-word;
     font-size:14px !important;
    }
      #post_content{
     word-wrap:break-word;
     font-size:14px !important;
    }

    #post_bottom{
         width: 738px;
           color: #666;
          display: block;
          margin: 8px 0 9px;
          
          
          font-size: 12px;
    }
    #username_post{
          float: left;
  width: 320px;
  height: 20px;
  overflow: hidden;
  line-height: 22px;
    }
    #timecreate_post{
          float: right;
  font-size: 12px;
    line-height: 22px;
    }
    .clear_fix_both{
        clear:both; 
    }
    .option_post{
          color: #bababa;
          float: right;
          text-align: right;
          width: 240px;
          display: inline;
          font-size: 12px;
    }
    .option_post ul li{
          float: left;
          z-index: 4;
          position: relative;
          background: none;
          padding: 0;
          width: auto;
            list-style-type: none;
              display: list-item;
  text-align: -webkit-match-parent;
    }
    .btt_in_friend{
        bottom: 10px;
        position: absolute;
        right: 10px;
    }
    .text_area_in_post{
        overflow: hidden;
      height: auto !important; 
    }
    a:hover,a:active,a:visited,a:link{
      text-decoration: none !important;
      
    }
    #user_main_post_content{
          display: block;
  line-height: 20px;
    }
    #user_main_post_content:focus{
          outline: none;
    } 
    #image_in_post{
      
    }
  table.album td {
    padding: 1px;
  }
  .image_album{
      float: left;
  padding: 1px;
  }
  .contentListUser{
   
  position: relative;
  padding: 8px;
  border: solid #E3E6E9 1px;
    margin: 10px auto;
  }
  .contentImage{
      height: 100px;
  width: 100px;
  position: absolute;
  top: 8px;
  left: 8px

  }
  .contentImage img{
    height: 100px;
    width: 100px;
    

  }
  .contentIntroduce{
    height: 100px;
  width: 702px;
  position: absolute;
  top: 8px;
  left: 108px;
  }
  .contentIntroduceName{
      font-weight: bold;
  font-size: 17px;
  }
  .contentIntroduce span{
      display: block;
  margin-left: 10px;
  line-height: 21px;
  }
  .contentIntroduceJob{

  }
  .contentIntroduceAddress{

  }.FriendButton{
      position: absolute;
    width: 78px;
    height: 24px;
    top: 8px;
    right: 10px;
  }.DFriendButton{
    position: absolute;
    padding: 1px;
    
    height: 24px;
    top: 8px;
    right: 10px;
  }
  .space_free{
      height: 100px;
  width: 810px;
  }#iconImageSearch{
     position: absolute;
  right: 0px;
  padding: 1.5px;
  height: 25px;
  }
   .topic_post{
               
                padding: 10px 0px;
                width: 612.5px;
                margin: 0px auto;
                height: auto;
                border-bottom:  solid #DADADA 1px;
                border-top:  solid #DADADA 1px;
                
            }  
            .topic_comment{
                background-color: #F6F6F6;
                  padding: 10px 15px;
               
                height: 500px;
                
            
               
                border: solid #DADADA 1px ;
                border-radius: 5px;
                height: auto;                                     
                -webkit-transition: opacity .25s ease .1s;
                -moz-transition: opacity .25s ease .1s;
                -o-transition: opacity .25s ease .1s;
                -ms-transition: opacity .25s ease .1s;
                transition: opacity .25s ease .1s;
            }
            .post_comment{
                 position: relative;
                   
                width: 0 auto;
                border-bottom: solid #DADADA 1px;
                display: block;
                padding: 10px;
            }
            .comment_in_topic{
                     padding: 10px 0px;
                     
              border-bottom: solid #DADADA 1px;
              display: block;
              position: relative;
              min-height: 72px;
              /* text-indent: 60px; */
              padding-left: 60px;
            }
          
            .txtarea_comment{
              

                padding: 0px;
                border: 1px solid #888; 
                outline: none;
                 resize: none;
                 overflow: hidden;
                 color:#666;
                font-size:14px;
             
                margin:5px 0px 10px 0px;
                
                height:25px ;
                width:630px;
                border:#999 1px solid;
              
                transition: all 0.25s ease-in-out;
                -webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                box-shadow: 0 0 5px rgba(81, 203, 238, 0);
                -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
                -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);         
            } 
            .btt_comment{
                position: absolute;
                bottom:10px;
                right:10px;
                -webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
                -moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
                box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
                background-color:#5B74A8;
                border:1px solid #29447E;
                font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
                font-size:12px;
                font-weight:700;
                padding:2px 6px;
                height:25px;
                color:#fff;
                border-radius:5px;
                -moz-border-radius:5px;
                -webkit-border-radius:5px
            }
            .line_topic_comment{
                border-bottom: dotted #400040 1px;
                
                padding:0px;
                margin: 10px auto;
            }
                 .image_in_comment{
               display: block;
              float: left;
              position: absolute;
              top: 10px;
              left: 5px;
              height: 50px;
              width: 50px;
                            
            }
            .comment_content{
                  display: block;
                 
                  height: auto;
                  
            }
            [contentEditable=true]{
                display:inline-block ;
            }
            [contentEditable=true]:empty:not(:focus):before{
              content:attr(data-text);
              color: #9197A3;
              font-size: 14px;
              
          }
            .comment_content_detail{
                 word-wrap:break-word;
                 font-size: 14px !important;
       }
       .textarea_in_post{
             resize: none;
          width: 100%;
        border:none;

       }
       textarea {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            resize: none;
        }